body {
  background-color: white;
}
h1 {
  
  text-align: center;
}
.bowl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.usercard {
  background-color: rgb(182, 182, 33);
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 186px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
}
.usercardtrue {
  background-color: rgb(46, 214, 130);
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 186px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
}
.usercardfalse {
  background-color: rgb(226, 19, 19);
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 186px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
}
button {
  height: 24px;
  width: 77px;
  margin: 2px;
}
